# Abaikan semua file yang diawali dengan titik
.*

# Tapi JANGAN abaikan file-file penting ini
!.gitignore
!.editorconfig
!.env.example

# Abaikan direktori dan file lain yang tidak perlu di dalam image
/vendor/
/node_modules/
npm-debug.log
yarn-error.log
.DS_Store
storage/framework/sessions/*
storage/framework/cache/data/*
storage/logs/*.log
